{% extends "base.html" %}

{% block main %}
    <h1 class="page-header">Profiles</h1>
    <div class="list-group-item">
    {% for user in records %}
        <div class="card">
            <img src="{{ url_for('static', filename="uploads/" + user.file_location) }}"   class="profile" alt="...">
            <div class="card-body">
                <h5>{{user.first_name}} {{user.last_name}}</h5>
                <p>{{user.gender}}</p>
                <p class="mb-0">{{user.location}}</p>
                <br>
                <a href="{{ url_for('userProfile', userid= user.id) }}" class="btn btn-primary">View Profile</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
